<header>
  <div class="container">
    <a routerLink="/home" class="logo">Cooking Home</a>

    <ul class="menu">
      <li>
        <a routerLink="/recipes/search">Search</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/register">Register</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" (click)="expand()" [class]="dropdownLi">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true
        " aria-expanded="flase">Recipes</a>
        <div [class]="dropdownMenu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/recipes/all">All recipes</a>
          <a class="dropdown-item" routerLink="/recipes/create">Create recipe</a>
          <a class="dropdown-item" routerLink="/recipes/my">My recipes</a>
        </div>
      </li>
      <li *ngIf="authService.isAuthenticated() ">
        <a (click)="logout() ">Logout</a>
      </li>
    </ul>
  </div>
</header>