header {
  height: 75px;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.66);
}

header .container {
  position: relative;
}

.logo {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 15px;
  left: 15px;
  transition: none;
}

.menu {
  position: absolute;
  top: 25px;
  right: 15px;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

a {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 3px solid transparent;
  transition: border 150ms ease-in-out, color 150ms ease-in-out;
}

a:hover {
  border-bottom: 3px solid gray;
  color: #505050;
}

a:not([href]):not([tabindex]) {
  color: #707070;
}

a:not([href]):not([tabindex]):hover {
  color: #505050;
}

.logo:hover {
  color: inherit;
  border: none;
}

.dropdown-item {
  border: none;
}

.dropdown-item:hover {
  border: none;
}

.small-menu {
  display: none;
}

@media screen and (max-width: 770px) {
  .hide {
    display: none;
  }

  .small-menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 28px;
    padding: 0;
  }

  .small-menu a {
    padding: 0;
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .small-menu span {
    padding-left: 5px;
    margin-bottom: 10px;
  }

  .dropdown-menu.show {
    right: -25px;
    left: auto;
  }
}