<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Fullname</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users | async">
          <ng-container *ngIf="!u._kmd.status">
            <td>{{u.username}}</td>
            <td>{{u.firstName}} {{u.lastName}}</td>
            <td>{{u.email}}</td>
            <td>{{u.age}}</td>
            <td>
              <a routerLink="/admin/edit/{{u._id}}" class="btn btn-warning">Edit</a>
              <a routerLink="/admin/delete/{{u._id}}" class="btn btn-danger">Delete</a>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>