a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

.footer,
.push {
  height: 60px;
}